@font-face {
    font-family: BlexMono;
    src: url(../fonts/BlexMonoNerdFont-Regular.ttf) format("truetype");
}

@font-face {
    font-family: swedensans;
    src: url(../fonts/Gilroy-Bold.ttf) format("truetype");
}

/* General Body Styling */
body {
    margin: 0;
    padding: 0;
    background-color: #24292e;
    color: #d1d5da;
    font-family: swedensans, Arial, sans-serif;
    line-height: 1.6;
}

/* Header Styling */
header {
    background-color: #1d2125;
    color: #d1d5da;
    padding: 20px;
    border-bottom: 1px solid #000000;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

header h2 {
    font-size: 1.8rem;
    margin: 0.5rem 0 1rem;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav li {
    display: inline-block;
    margin: 0 15px;
}

header nav a {
    color: #d1d5da;
    text-decoration: none;
    font-size: 1rem;
}

header .github-icon img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}

/* Main Content Styling */
main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#markdown-content {
    width: 100%;
    max-width: 800px;
    background-color: #1d2125;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #d1d5da;
    font-family: swedensans, Arial, sans-serif;
    line-height: 1.8;
}

/* Markdown-specific Styles */
#markdown-content h1, 
#markdown-content h2, 
#markdown-content h3 {
    color: #ffffff;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

#markdown-content p {
    margin: 1rem 0;
}

#markdown-content ul, 
#markdown-content ol {
    list-style: initial; /* Display default bullets/numbers */
    margin-left: 20px;
    padding-left: 20px;
}

#markdown-content li {
    margin-bottom: 0.5rem;
}

#markdown-content a {
    color: #1a73e8;
    text-decoration: underline;
}

#markdown-content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    border-radius: 5px;
}

/* Optional styling for inline code */
#markdown-content code {
    background-color: #2d333b;
    color: #ffffff;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: "Courier New", monospace;
}

/* Optional styling for blockquote */
#markdown-content blockquote {
    border-left: 4px solid #1a73e8;
    padding-left: 15px;
    color: #b0b7c3;
    margin: 1rem 0;
}
