@font-face {
    font-family: BlexMono;
    src: url(fonts/BlexMonoNerdFont-Regular.ttf) format(truetype);
}
h1 {
    font-family: BlexMono;
    font-size: 35;
}
ul {
    font-family: BlexMono;

    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    font-size: 25;
    text-decoration: none;
    color: #EEEEEE;
    display: block;
}
li {
    display: inline-block;
    margin-right: 20px;
}
body {
    background-color: #393E46;
}