@font-face {
    font-family: BlexMono;
    src: url(fonts/BlexMonoNerdFont-Regular.ttf) format(truetype);

    font-family: swedensans;
    src: url(fonts/Gilroy-Bold.ttf) format(truetype);
}
.summary-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1d2125;
    border: 1px solid #000000;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 20px;
  }
  .profile-img {
    width: 200px;
    height: auto;
    border-radius: 0%;
    margin-right: 20px;
    flex: 0 0 auto;
  }
  .profile-img img {
    width: 100%;
    height: auto;
    display: block;
  }
  .summary-text {
    flex: 1;
  }
  .summary-text p {
    max-width: 400px;
    font-size: 16px;
    line-height: 1.5;
    color: #d1d5da;
    text-indent: 30px;
    font-family: swedensans;
  }
  @media screen and (max-width: 768px) {
    .summary-container {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .dogs-section {
    margin-top: 20px;
    background-color: #1d2125;
    border: 1px solid #000000;
  }
  .dogs-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .dogs-section p {
    font-family: swedensans;
    color: #d1d5da;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 0;
    grid-gap: 0px;
  }
  .gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
  }
header {
  position: relative;
    background-color: #1d2125;
    color: #d1d5da;
    padding: 10px;
  }
  .github-icon img{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    width: 50px;
    height: 50px;
  }
  .monogram img {
    position: absolute;
    top: 1em;
    left: 1em;
    padding: 1rem;
    width: 100px;
    height: auto;
  }
h1 {
    font-family: swedensans;
    font-size: 35;
}
ul {
    font-family: swedensans;

    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    font-size: 25;
    text-decoration: none;
    color: #d1d5da;
    display: block;
}
li {
    display: inline-block;
    margin-right: 20px;
}
body {
    margin: 0;
    padding: 0;
    background-color: #24292e;
}
header {
    border-bottom: 1px solid #000000;
    text-align: center;
  }