@font-face {
    font-family: BlexMono;
    src: url(../fonts/BlexMonoNerdFont-Regular.ttf) format(truetype);

    font-family: swedensans;
    src: url(../fonts/Gilroy-Bold.ttf) format(truetype);
}
.half-screen-width {
max-width: 100%;
height: auto;
}
.image-container {
    width: 100%;
    overflow: hidden;
}
#anticipation {
    float: left;
    width: 50%;
}
#empathy {
    float: right;
    width: 50%;
}
#nostalgia {
    float: right;
    width: 50%;
}
#envy {
    float: left;
    width: 50%;
}
header {
    background-color: #1d2125;
    color: #d1d5da;
    padding: 10px;
    border-bottom: 1px solid #000000;
    text-align: center;
}
h1 {
    font-family: swedensans;
    font-size: 35;
}
h2 {
    font-family: swedensans;
    font-size: 35px;
    position: relative;
    top: 0px;
}
ul {
    font-family: swedensans;

    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    font-size: 25;
    text-decoration: none;
    color: #d1d5da;
    display: block;
}
li {
    display: inline-block;
    margin-right: 20px;
}
body {
    margin: 0;
    padding: 0;
    background-color: #24292e;
}